.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
}
.right-section {
  width: 300px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}
.left-section {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.middle-section {
  flex: 1;
  margin-left: 240px; 
  margin-right: 240px; 
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
}

.right-section {
  right: 0;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.add-product button,
.filter button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.add-product button:hover,
.filter button:hover {
  background-color: #0056b3;
}
